:root {
  --bg-color: #ffffff;
  --outline: 2px solid #000000;
  --text-color: #000000;
  --button-text-color: #ffffff;
  --shadow-text-color: #ffffff;
  --page-accent-font-family: "PressStart2P", fantasy;
  --page-main-font-family: "Inter", sans-serif;
  --page-main-font-weight: 400;
  --headings-font-weight: 700;
  --page-bg-image: repeating-linear-gradient(to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px),
    repeating-linear-gradient(to bottom,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px),
    linear-gradient(to bottom,
      #e7e7e7 0.01%,
      #1a1a1a);
  --like-contour-color: #000000;
  --like-main-body-color: none;
  --like-sparks-color: #ff0000;
}